*.user
*.ncb
*.ilk
*.pdb
*.obj
*.idb
*.suo
*.tmp
*.htm
*.dep
*.manifest
*.lnk
*.exe
*.bat
*.rsp
*.zip
*.usr
*.tss
*.sdf
*.opensdf
*.unsuccessfulbuild
*.log
*.lastbuildstate
*.tlog
*.swp
*~
*.o
*.swo
*.world
doc/backlog/gen-image.R
doc/backlog/generate.sh
doc/backlog/backlog.svg
doc/backlog/backlog.js
