*.user
mmo.ncb
*.ilk
Debug/mmo.exe
*.pdb
mmo/Debug/BuildLog.htm
*.obj
mmo/Debug/mt.dep
*.idb
mmo/Debug/mmo.exe.intermediate.manifest
*.suo
mmo.lnk
*.tmp
*.htm
*.dep
Release/mmo.exe
*.manifest
*.lnk
*.exe
server.bat
client.bat
kill.bat
*.rsp
*.zip
test.bat