*.user
*.ncb
*.ilk
*.pdb
*.obj
*.idb
*.suo
*.tmp
*.htm
*.dep
*.manifest
*.lnk
*.exe
*.bat
*.rsp
*.zip
*.usr
*.tss
*.sdf
*.opensdf
*.unsuccessfulbuild
*.log
*.lastbuildstate
*.tlog
*.swp
*~
*.o
*.swo
*.world
doc/backlog/gen-image.R
doc/backlog/generate.sh
doc/backlog/backlog.svg
doc/backlog/backlog.js
doc/backlog/jquery-3.1.0.min.js
Images/ignore/*
*.frx
doc/TreeGen/TreeGen/TreeGen.vcxproj.filters
doc/tree.svg
doc/TreeGen/tree.gv
doc/crafting.gv
doc/crafting.svg
doc/TreeGen/tree.png
doc/TreeGen/tree.svg
Hellas Client/*
doc/web/images/*.png
Sounds/temp*
doc/web/objects.js
doc/web/items.js
doc/web/tree.png
doc/web/tree.svg
doc/web/tree.map
doc/web/npcs.js
doc/web/tools.js
doc/web/recipesWithStuffMissing.js
doc/web/soundProfiles.js
doc/web/terrains.js
*.db
*.opendb
*.iobj
*.ipdb
*.enc
*.nativecodeanalysis.xml
*.lastcodeanalysissucceeded
*.nativecodeanalysis.all.xml
doc/web/tags.js
src/version.h
client-publish/*
logging/stats.js
doc/web/spells.js
session.txt
logging/kills.svg
durability.csv
logging/onlinePlayers.csv
dev-stuff/tech tree ideas.txt
version.txt
tools/Launcher/Hellas client/*
*.bak
release-notes.txt
tools/Suffix generator/Suffix generator/output.xml
