body {
    background: #222222;
    color: #bbbbbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2 {
    color: #CE9B79;
}

.heading {
    color: #62BA6C;
}

.king {
    color: gold;
}
