body {
    background: #222222;
    color: #bbbbbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.offline {
    opacity: 0.2;
}

.statusOnline {
    color: #00ff00;
}

.statusOffline {
    color: #ff0000;
}

h1, h2 {
    color: #CE9B79;
}

.heading {
    color: #62BA6C;
}

.king {
    color: gold;
}

.barOutline {
    stroke-width: 1;
    stroke: #bbbbbb;
}

td {
    padding-left: 7px;
    padding-right: 7px;
}

.item-quality-1 {
}
.item-quality-2 {
    background-color: #1aff00;
}
.item-quality-3 {
    background-color: #0066cc;
}
.item-quality-4 {
    background-color: #9933e6;
}
.item-quality-5 {
    background-color: #ff8000;
}
