body {
    background: #222222;
    color: #bbbbbb;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.offline {
    opacity: 0.2;
}

h1, h2 {
    color: #CE9B79;
}

.heading {
    color: #62BA6C;
}

.king {
    color: gold;
}

.barOutline {
    stroke-width: 1;
    stroke: #bbbbbb;
}
