body {
    background: #222222;
    background-image: url('background.png'), url('background.png');
    background-position: left top, right top;
    background-repeat: no-repeat;
    color: #bbbbbb;
    font-family: "Marcellus", serif;
}

.no-background {
    background-image:none;
}

.container, .container-fluid{
    background-color: #222222;
}

a {
    color: #62BA6C;
}

h1 {
    visibility:hidden;
    position:absolute;
}

h2 {
    font-variant: small-caps;
}

a:hover {
    color: white;
    text-decoration: none;
}

#topLevelContainer{
    min-height:100%;
}

.btn-facebook {
    background: #3B5998;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #263961; 
}
.btn-facebook:link, .btn-facebook:visited {
    color: #fff;
}
.btn-facebook:active, .btn-facebook:hover {
    background: #263961;
    color: #fff;
}

.btn-discord {
    background: #5865F2;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #4450BA; 
}
.btn-discord:link, .btn-discord:visited {
    color: #fff;
}
.btn-discord:active, .btn-discord:hover {
    background: #4450BA;
    color: #fff;
}