html{
    background: #222;
    background-image: url('background.png'), url('background.png');
    background-position: left top, right top;
    background-repeat: no-repeat;
}

body{
    background-color: transparent;
    color: #bbb;
}

.container, .container-fluid{
    background-color: #222;
}

a {
    color: #62BA6C;
}

a:hover {
    color: white;
    text-decoration: none;
}

#topLevelContainer{
    height:100%;
}