body {
    background: #222222;
    background-image: url('background.png'), url('background.png');
    background-position: left top, right top;
    background-repeat: no-repeat;
    color: #bbbbbb;
}

.no-background {
    background:none;
}

.container, .container-fluid{
    background-color: #222222;
}

a {
    color: #62BA6C;
}

a:hover {
    color: white;
    text-decoration: none;
}

#topLevelContainer{
    height:100%;
}